*{
    margin: 0;
    padding: 0;
    
}

nav{
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-options{
    display: flex;
    list-style: none;
}

ul li {
    margin: 20px;
}

ul li a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}

body{
    background-image: url(image2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
